#projects {
    padding: 80px 5%;
    background-color: #f8f0e3;
    text-align: center;
}

#projects h2 {
    color: #5c3c2a;
    font-size: 2.5em;
    margin-bottom: 60px;
    opacity: 0; /* Awalnya tidak terlihat */
    transform: translateY(-50px); /* Posisi awal di atas */
    transition: opacity 0.5s ease, transform 0.8s ease; /* Tambahkan transisi */
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom di desktop */
    grid-gap: 40px; /* Jarak antar proyek diperbesar */
    max-width: 1200px;
    margin: 0 auto;
}

.project {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0px 20px rgba(255, 115, 0, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.5s ease, transform 1s ease; /* Tambahkan transisi opacity dan transform */
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    border: 1px solid #ddd;
    opacity: 0; 
    transform: translateY(50px); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 20px rgba(255, 115, 0, 0.9);
    scale: 1.02 
}

.project img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease; 
}

.project:hover img {
    transform: scale(1.05); 
}

.project-content {
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project h3 {
    font-family: Quicksand, sans-serif;
    color: #5c3c2a;
    font-size: 1.7em; 
    margin-bottom: 15px;
    font-weight: 900;
}

.project p {
    color: #5c3c2a;
    font-size: 1.1em; 
    line-height: 1.7; 
    text-align: justify;
    margin: 25px;
    flex-grow: 1;;
}

.details-link {
    font-family: Quicksand, sans-serif;
    display: block;
    background-color: #5c3c2a;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.1em; 
}

.details-link:hover {
    background-color: #a0785b;
}

#projects.animate .project {
    opacity: 1;
    transform: translateY(0); 
}

#projects.animate h2 {
    opacity: 1; 
    transform: translateY(0); 
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr; 
        grid-gap: 30px;
    }

    .project img {
        height: 200px;
    }
}